<div class="card widget-media">
  <div class="card-header border-0 pb-0 ">
    <h4 class="text-black">Latest Sales</h4>
    <div class="dropdown ml-auto text-right dropdown-no-icon" ngbDropdown>
      <div class="btn-link" data-toggle="dropdown" ngbDropdownToggle>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg>
      </div>
      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
        <a class="dropdown-item" href="javascript:void(0);">View Detail</a>
        <a class="dropdown-item" href="javascript:void(0);">Edit</a>
        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
      </div>
    </div>
  </div>
  <div class="card-body timeline pb-2">
    <div class="timeline-panel align-items-end" *ngFor="let item of data">
      <div class="media mr-3">
        <img class="rounded-circle" alt="image" width="50" src="{{item.image}}">
      </div>
      <div class="media-body">
        <h5 class="mb-1"><a class="text-black" href="javascript:void(0);">{{item.user}}</a></h5>
        <p class="d-block mb-0 text-primary"><i class="las la-ticket-alt mr-2 scale5 ml-1"></i>{{item.title}}</p>
      </div>
      <p class="mb-0 fs-14">{{item.time}}</p>
    </div>
  </div>
  <div class="card-footer border-0 pt-0 text-center">
    <a href="javascript:void(0);" class="btn-link">View more <i class="fa fa-angle-down ml-2 scale-2"></i></a>
  </div>
</div>