<apx-chart
			id="lineChart"
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [dataLabels]="chartOptions.dataLabels"
            [yaxis]="chartOptions.yaxis"
            [labels]="chartOptions.labels"
            [title]="chartOptions.title"
            [subtitle]="chartOptions.subtitle"
            [tooltip]="chartOptions.tooltip"
            [stroke]="chartOptions.stroke"
            [colors]='chartOptions.colors'
        ></apx-chart>