<div class="card overflow-hidden">
  <div class="card-header border-0 pb-0">
    <div>
      <h3 class="mb-0 text-black font-w600">639 Pcs</h3>
      <p class="mb-1">Ticket Ordered</p>
    </div>
  </div>
  <div class="card-body p-0">	
    <div class="col-7 px-0 offset-5 mt-widget">	
      
      <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [yaxis]="chartOptions.yaxis"
    [legend]="chartOptions.legend"
    [fill]="chartOptions.fill"
    [stroke]="chartOptions.stroke"
    [tooltip]="chartOptions.tooltip"
    [xaxis]="chartOptions.xaxis"
    [colors]="chartOptions.colors"
    [responsive]="chartOptions.responsive"
    [grid]="chartOptions.grid"
  ></apx-chart>
      
      
    </div>
  </div>
</div>