<!--**********************************
	Content body start
***********************************-->
<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Müşteri/Cari Bilgileri</a>
          </li>
          <li class="breadcrumb-item active">
            <a href="javascript:void(0)">Profil</a>
          </li>
        </ol>
      </div>
      <div
        class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex"
      ></div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="profile card card-body px-3 pt-3 pb-0">
          <div class="profile-head">
            <div class="profile-info">
              <div class="profile-photo">
                <img
                  src="assets/images/profile/profile.png"
                  class="img-fluid rounded-circle"
                  alt=""
                />
              </div>
              <div class="profile-details">
                <div class="profile-name px-3 pt-2">
                  <h4 class="text-primary mb-0">
                    {{ customerDetail.customer_name }}
                  </h4>
                  <p>Cari</p>
                </div>
                <div class="profile-id px-2 pt-2">
                  <h4 class="text-muted mb-0">
                    {{ customerDetail.cust_id }}
                  </h4>
                  <p>Cari ID</p>
                </div>
                <div style="margin-left: 3rem" class="profile-id px-2 pt-2">
                  <h4 class="text-muted mb-0">
                    {{ customerDetail.join_date }}
                  </h4>
                  <p>Kayıt Tarihi</p>
                </div>
                <div style="margin-left: 3rem" class="profile-id px-2 pt-2">
                  <h4 class="text-muted mb-0">
                    {{ customerDetail.cust_id }}
                  </h4>
                  <p>Güncel Bakiye</p>
                </div>
                <div style="margin-left: 3rem" class="profile-id px-2 pt-2">
                  <h4 class="text-muted mb-0">
                    {{ customerDetail.cust_id }}
                  </h4>
                  <p>Siparişler</p>
                </div>
                <div style="margin-left: 3rem" class="profile-id px-2 pt-2">
                  <h4 class="text-muted mb-0">
                    {{ customerDetail.cust_id }}
                  </h4>
                  <p>Ödemeler</p>
                </div>

                <!-- <div class="dropdown dropdown-no-icon ml-auto" ngbDropdown>
                  <a
                    href="javascript:void(0);"
                    class="btn btn-primary light sharp"
                    ngbDropdownToggle
                    aria-expanded="true"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="18px"
                      height="18px"
                      viewBox="0 0 24 24"
                      version="1.1"
                    >
                      <g
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <rect x="0" y="0" width="24" height="24"></rect>
                        <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                        <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                        <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                      </g></svg
                  ></a>
                  <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <li class="dropdown-item">
                      <i class="fa fa-user-circle text-primary mr-2"></i> View
                      profile
                    </li>
                    <li class="dropdown-item">
                      <i class="fa fa-users text-primary mr-2"></i> Add to close
                      friends
                    </li>
                    <li class="dropdown-item">
                      <i class="fa fa-plus text-primary mr-2"></i> Add to group
                    </li>
                    <li class="dropdown-item">
                      <i class="fa fa-ban text-primary mr-2"></i> Block
                    </li>
                  </ul>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body">
            <div class="profile-tab">
              <div class="custom-tab-1">
                <ul class="nav nav-tabs" ngbNav #nav="ngbNav">
                  <li class="nav-item" ngbNavItem="posts">
                    <a
                      href="#my-posts"
                      data-toggle="tab"
                      class="nav-link"
                      ngbNavLink
                      >Kişi Bilgileri</a
                    >
                    <ng-template ngbNavContent>
                      <div id="profile-settings" class="tab-pane">
                        <div class="pt-3">
                          <div class="settings-form">
                            <!-- <h4 class="text-primary">Cari Bilgileri</h4> -->
                            <form>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label>E-mail</label>
                                  <input
                                    type="email"
                                    placeholder="Email"
                                    class="form-control"
                                    [value]="customerDetail.customer_name"
                                  />
                                </div>
                                <div class="form-group col-md-6">
                                  <label>Şifre</label>
                                  <input
                                    type="password"
                                    placeholder="Password"
                                    class="form-control"
                                    [value]="customerDetail.cust_password"
                                  />
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label>Telefon Numarası</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    [value]="customerDetail.cust_phone"
                                  />
                                </div>
                                <div class="form-group col-md-4">
                                  <label>T.C. Kimlik Numarası</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    [value]="customerDetail.tcKimlik"
                                  />
                                </div>
                                <div class="form-group col-md-2"></div>
                              </div>
                              <div class="form-group">
                                <label>Adres</label>
                                <input
                                  type="text"
                                  placeholder="1234 Main St"
                                  class="form-control"
                                  [value]="customerDetail.location"
                                />
                              </div>

                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label>Şehir</label>
                                  <input type="text" class="form-control" />
                                </div>
                                <div class="form-group col-md-4">
                                  <label>İlçe</label>
                                  <input type="text" class="form-control" />
                                </div>
                                <div class="form-group col-md-2"></div>
                              </div>
                              <div class="form-group">
                                <div
                                  class="custom-control custom-checkbox"
                                ></div>
                              </div>
                              <button class="btn btn-primary" type="submit">
                                Güncelle
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                  <li class="nav-item" ngbNavItem="about-me">
                    <a
                      href="#orders"
                      data-toggle="tab"
                      class="nav-link"
                      ngbNavLink
                      >Sipariş Geçmişi</a
                    >
                    <ng-template [ngbNavContent]>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="table-responsive table-hover fs-14">
                            <table
                              class="
                                table
                                display
                                mb-4
                                dataTablesCard
                                dataTable
                              "
                              id="example5"
                            >
                              <thead>
                                <tr>
                                  <th>Sipariş ID</th>
                                  <th>Tarih</th>
                                  <th>Ürün</th>
                                  <th>Teslimat Adresi</th>
                                  <th>Adet</th>
                                  <th>Stok</th>
                                  <th>İade</th>
                                  <th>Toplam Tutar</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr
                                  *ngFor="
                                    let order of customerOrders;
                                    let i = index
                                  "
                                >
                                  <td>{{ order.order_id }}</td>
                                  <td>{{ order.order_date }}</td>
                                  <td>{{ order.order_name }}</td>
                                  <td>{{ order.location }}</td>
                                  <td>{{ order.order_pck }}</td>
                                  <td>{{ order.order_total_pck }}</td>
                                  <td class="{{ order.refund_class }}">
                                    <strong>{{ order.refund }}</strong>
                                  </td>
                                  <td>
                                    <a
                                      href="javascript:void(0);"
                                      class="
                                        btn
                                        text-primary
                                        bgl-primary
                                        rounded
                                        btn-sm
                                      "
                                      >{{ order.totle_revenue }}</a
                                    >
                                  </td>
                                </tr>
                              </tbody>
                            </table>

                            <div class="d-flex justify-content-between p-2">
                              <ngb-pagination
                                class="mr-3"
                                [collectionSize]="collectionSize"
                                [(page)]="page"
                                [pageSize]="pageSize"
                                (pageChange)="updateOrderListing()"
                              >
                              </ngb-pagination>

                              <select
                                class="custom-select"
                                style="width: auto"
                                [(ngModel)]="pageSize"
                                (ngModelChange)="updateOrderListing()"
                              >
                                <option [ngValue]="5">5 items per page</option>
                                <option [ngValue]="10">
                                  10 items per page
                                </option>
                                <option [ngValue]="20">
                                  20 items per page
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>

                  <li class="nav-item" ngbNavItem="profile-settings">
                    <a
                      href="#profile-settings"
                      data-toggle="tab"
                      class="nav-link"
                      ngbNavLink
                      >Ödeme Geçmişi</a
                    >
                    <ng-template [ngbNavContent]>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="table-responsive table-hover fs-14">
                            <table
                              class="
                                table
                                display
                                mb-4
                                dataTablesCard
                                dataTable
                              "
                              id="example5"
                            >
                              <thead>
                                <tr>
                                  <th>İşlem No.</th>
                                  <th>Tarih</th>
                                  <th>Ad Soyad</th>
                                  <th>Ödeme Şekli</th>
                                  <th>Ödeme Firması</th>
                                  <th>Tutar</th>
                                  <th>Ödeme Durumu</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr
                                  *ngFor="
                                    let payment of customerPayment;
                                    let i = index
                                  "
                                >
                                  <td>{{ payment.payment_id }}</td>
                                  <td>{{ payment.payment_date }}</td>
                                  <td>{{ payment.payment_name }}</td>
                                  <td>{{ payment.payment_type }}</td>
                                  <td>{{ payment.payment_company }}</td>
                                  <td>{{ payment.payment_total }}</td>
                                  <td class="{{ payment.payment_status }}">
                                    <strong>{{
                                      payment.payment_status
                                    }}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>

                            <div class="d-flex justify-content-between p-2">
                              <ngb-pagination
                                class="mr-3"
                                [collectionSize]="collectionSize"
                                [(page)]="page"
                                [pageSize]="pageSize"
                                (pageChange)="updateOrderListing()"
                              >
                              </ngb-pagination>

                              <select
                                class="custom-select"
                                style="width: auto"
                                [(ngModel)]="pageSize"
                                (ngModelChange)="updateOrderListing()"
                              >
                                <option [ngValue]="5">5 items per page</option>
                                <option [ngValue]="10">
                                  10 items per page
                                </option>
                                <option [ngValue]="20">
                                  20 items per page
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </li>
                </ul>

                <div [ngbNavOutlet]="nav" class=""></div>
              </div>
              <!-- Modal -->
              <ng-template #replyModal let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Post Reply</h4>
                  <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="modal.dismiss('Cross click')"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <textarea class="form-control" rows="4">Message</textarea>
                    </div>
                    <div class="form-group">
                      <button type="button" class="btn btn-primary">
                        Reply
                      </button>
                    </div>
                  </form>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--**********************************
	Content body end
***********************************-->
