.deznav{
    background-color: #7FCDBF;
    

  
}

.deznav>.deznav-scroll>.metismenu>li>a>span{
    color:#3D5B58!important;
    font-weight: 500;

}
 .deznav>.deznav-scroll>.metismenu>li>a>ul>li>a{
    color:#ffffff!important;

} 

::ng-deep [data-sibebarbg="color_3"] .deznav .metismenu > li.mm-active > a i {
    background: #fff !important;
    color: #7FCDBF !important;
}
