.btn-secondary{
    border-color: none;
}
.text-primary {
    color: #4D706C !important;
}
.user-card-title {
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    padding: 1rem;
    font-weight: 600;
  }
  
.user-card-body {
    display: flex;
    padding: 32px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center;
  }