<div class="card">
  <div class="card-header border-0 pb-0">
    <h4 class="card-title">Sales Summary</h4>
    <div class="btn-group dropdown-no-icon" ngbDropdown>
      <button class="btn btn-light btn-sm tp-btn dropdown-toggle" type="button" data-toggle="dropdown" ngbDropdownToggle>
        This Week
      </button>
      <div class="dropdown-menu dropdown-right" ngbDropdownMenu>
        <a class="dropdown-item" href="javascript:void(0);">This Week</a>
        <a class="dropdown-item" href="javascript:void(0);">Next Week</a>
      </div>
    </div>
  </div>
  <div class="card-body pt-2">
    <div class="border p-3 d-flex justify-content-between fs-14 rounded-lg mb-4">
      <span class="text-black">Tuesday</span>
      <span class="text-black">215,523 pcs</span>
    </div>
    
    <div class="text-center">
      <div id="polarAreaCharts">
          
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [labels]="chartOptions.labels"
            [title]="chartOptions.title"
            [theme]="chartOptions.theme"
            [fill]="chartOptions.fill"
            [yaxis]="chartOptions.yaxis"
            [stroke]="chartOptions.stroke"
            [legend]="chartOptions.legend"
            [plotOptions]="chartOptions.plotOptions"
          ></apx-chart>
      
      </div>
    </div>
    <div class="row mx-0">
      <div class="col-6 px-0 d-flex align-items-center mb-3">
        <div class="bg-primary rounded mr-3 d-block" style="width:25px; height:25px;"></div>
        <div>
          <h5 class="mb-1 text-black">VIP</h5>
          <span>30%</span>
        </div>
      </div>
      <div class="col-6 px-0 d-flex align-items-center mb-3">
        <div class="bg-success rounded mr-3 d-block" style="width:25px; height:25px;"></div>
        <div>
          <h5 class="mb-1 text-black">Exclusive</h5>
          <span>24%</span>
        </div>
      </div>
      <div class="col-6 px-0 d-flex align-items-center">
        <div class="bg-warning rounded mr-3 d-block" style="width:25px; height:25px;"></div>
        <div>
          <h5 class="mb-1 text-black">Reguler</h5>
          <span>30%</span>
        </div>
      </div>
      <div class="col-6 px-0 d-flex align-items-center">
        <div class="bg-secondary rounded mr-3 d-block" style="width:25px; height:25px;"></div>
        <div>
          <h5 class="mb-1 text-black">Economic</h5>
          <span>2%</span>
        </div>
      </div>
    </div>
  </div>
</div>